.Link{
    text-decoration: none
}
.Recipe{
    position: relative;
    display: block;
    width: 22.5rem;
    height: 30rem;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 1rem;
    margin: 2rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    color: rgba(55, 56, 56, 0.699);;

    /* color: rgb(70, 70, 70); */
    /* box-shadow: 0.2rem 0.2rem 1rem rgba(20, 20, 20, 0.8); */
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),0px 3px 7px rgba(0, 0, 0, 0.3),0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset ;
  }
/* 
  .Recipe{
    position: relative;
    display: block;
    width: 20.5rem;
    height: 27rem;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    color: rgba(114, 224, 160, 0.699);;
    background: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3),0px 3px 7px rgba(0, 0, 0, 0.3),0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset ;
  } */





  .Imagen{
      /* object-fit: scale-down;
      width: 16rem;
      height: 16rem; */
      height: 12rem;
      width: 70%;
      object-fit: cover;
      margin-bottom: 2rem;
  }
  .RecipeInfo {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .ButtonFavorite{
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .MoreInfo{
    position: absolute;
    right: 4.2rem;
    bottom: 0.75rem;
    text-decoration: none;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    outline: none;
    border:0.5px solid rgba(227, 214, 72, 0.7);
    padding: 0.2rem 0.3rem ;
    background-color: rgba(227, 214, 72, 0.7);
    color: rgb(40, 40, 40)
  }
  .Button{
      border-radius: 2rem;
      color:rgba(12, 12, 12, 0.753)
  }
  .Button:hover{
    cursor: pointer;
    transform: scale(1.2);
    border: 0.5px solid rgba(6, 38, 107, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    /* color: rgb(0, 0, 0); */
    color: rgba(90, 170, 123, 0.699);
    font-size: medium;
    font-weight: bolder;
    transition: all 0.2s linear;
  }
  h3{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .RecipeName{
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  
  .RecipeImage{
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 15%;
    border-radius: 1rem;
    height: 10rem;
    width: 70%;
    object-fit: cover;
    object-position: center center;
  }
  
  .Diets{
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem auto;
  }
  .Diets span{
    margin: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
  }